/* Shared styles */
body {
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
}

section {
    max-width: 1170px;
    margin: 100px auto;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: #5A5A5D;
    padding: 10px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: #FFF;
}

/* Header Section */
header {
    max-width: 1170px;
    margin: 50px auto;
}

header .menu-bar {
    display: none;
    width: 24px;
    height: 24px;
}

.head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: flex;
    gap: 20px;
}

.header-name h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.header-name span {
    color: #FF5400;
}

nav ul {
    display: flex;
    gap: 44px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.h-home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.banner {
    margin-top: 50px;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/Group\ 13.png");
    text-align: center;
    color: #FFF;
}

.banner h1 {
    padding-top: 80px;
    font-size: 64px;
    font-weight: 800;
}

.banner p {
    width: 675px;
    margin: 24px auto;
}

.banner div {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 30px;
}

.banner input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    padding-left: 16px;
}

/* Tours section */
.tours {
    display: flex;
    gap: 50px;
}

/* Destination Section */
.destination {
    text-align: center;
}

.destination-img {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.destination-img div {
    height: 300px;
}

.destination-img img {
    z-index: -1;
    position: relative;
    bottom: 80px;
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

.destination-img h4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    transform: translateY(120px);
}

/* Choose Section */
.choose {
    text-align: center;
}

.choose .card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    margin: 20px;
    text-align: left;
    padding-left: 20px;
}

#box1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#box2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#box3 {
    margin: auto;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

.choose .card svg {
    width: 64px;
    height: 64px;

}

.choose .card h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.choose-img {
    display: flex;
}



/* Responsive styles */
@media screen and (max-width: 600px) {
    /* shared style */
    header,
    .banner,
    .banner p,
    .tours img,
    .choose .card {
        width: 97%;
        margin: auto;
    }

    .tours,
    .destination-img,
    .banner div,
    .choose-img {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .section-title,
    .destination-img h4,
    .choose .card h4 {
        font-size: 20px;
    }

    .section-description {
        font-size: 14px;
    }

    /* header section */

    .banner h1 {
        font-size: 22px;
        padding-top: 20px;
    }

    .banner p {
        font-size: 14px;
    }

    nav ul {
        display: none;
    }

    header .menu-bar {
        display: block;
    }

    .header-name {
        align-items: center;
    }

    .header-name img {
        width: 28.724px;
        height: 33.516px;
    }

    .header-name h2 {
        font-size: 21.543px;
    }


    .banner div {
        align-items: center;
        width: 287px;
        padding: 16px;
        gap: 14px;
    }

    .banner div input,
    button {
        width: 255px;
        height: 52px;
    }
    /* destination section */
    .destination-img {
        align-items: center;
    }

    .destination-img div {
        height: 176px;
        width: 97%;
    }

    .destination-img img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }

    .destination-img h4 {
        transform: translateY(45px);
    }
    /* choose section */
    
    .choose .card svg {
        width: 48px;
        height: 48px;
    }
    .choose .card{
        height: 289px;
        padding: 5px;
        margin-bottom: 20px;
    }

}